.conteneur {
}

#vue-racine {
    -fx-border-color:darkred;
}

#vue-file-attente {
    -fx-border-color:darkblue;
    
 	-fx-alignment:center;
 	
 	-fx-background-color:grey;
}

.gros-bouton {
    -fx-font-size: 1.2em;

}

.gros-bouton:pressed {
    -fx-font-size: 1em;
}

.gros-bouton:hover {
    -fx-cursor: hand;
}